<h1>Create a new Pet</h1>

<form action="/pets" method="post">
  <p>New Pet Name: <input type="text" name="pets[name]"></p>
  <p>You can choose from our list of existing Owners: </p>
  <p><%Owner.all.each do |owner|%>
    <input type="checkbox" name="pets[owner_id]" value="<%=owner.id%>" id="<%=owner.id%>"><%=owner.name%><br>
    <%end%>
  </p>
</form>
